In [3]:
import pandas as pd

In [33]:
# 일단 데이터형태부터 파악한후 작업 진행 
sales = pd.read_csv('./data/location_sales.csv', header=1, encoding='euc-kr')

In [34]:
sales

,통계분류(1),통계분류(2),합계,출판,만화,음악,게임,영화,애니메이션,방송영상독립제작,광고,캐릭터,지식정보,콘텐츠솔루션,비중
0,합계,소계,113044446,20755334,1082228,5804307,13142272,5494670,493441,18043595,16413340,11922329,15041370,4851561,100.0
1,서울,소계,72427557,11644169,568621,3754518,5501823,3192434,363779,14989884,14120667,5445738,9194609,3651316,64.1
2,7개시,소계,8742328,2080759,87070,669040,624475,769321,59211,47717,1428466,1283387,1317531,375351,8.4
3,7개시,부산,2861484,562179,12872,212431,172870,223604,15370,282494,692594,353984,238883,94204,2.5
4,7개시,대구,1977667,411689,14983,221536,128555,142459,212,157772,301297,294313,224254,80598,1.7
5,7개시,인천,1619777,418798,18716,124413,141538,139791,10256,117531,33309,395295,158938,61191,1.4
6,7개시,광주,1005745,275059,26213,25127,75711,98049,28715,94175,107810,111441,92449,70996,0.9
7,7개시,대전,1410208,246205,10328,36042,57800,96755,4567,110284,223440,115663,449102,60023,1.2
8,7개시,울산,606924,137083,3692,40476,48001,57195,90,93596,56475,11063,151136,8117,0.5
9,7개시,세종,70431,29747,266,9015,-,11469,-,1774,13540,1629,2770,221,0.1
10,9개 도,소계,29040363,7030407,426537,1380750,7015974,1532915,70451,171794,864208,5193204,4529230,824893,27.5
11,9개 도,경기,23666399,5972109,352354,941091,5465652,998585,58127,1230962,454467,3872831,3605534,714686,20.9
12,9개 도,강원,614434,65484,17089,69652,44528,63858,3465,156574,29484,58599,85703,19998,0.5
13,9개 도,충북,870583,86671,2357,32447,41571,64868,692,109033,41426,363080,81542,46895,0.8
14,9개 도,충남,869791,208702,1905,39964,102236,74774,3125,84580,45905,202243,99463,6895,0.8
15,9개 도,전북,696450,103095,12419,42842,71997,76074,1611,97435,91451,111368,70873,17284,0.6
16,9개 도,전남,487313,50329,1623,47450,54759,37697,1479,101141,83811,56666,52203,154,0.4
17,9개 도,경북,1013029,280502,25956,74010,74305,68659,72,150631,11916,87884,236591,2504,0.9
18,9개 도,경남,1521625,223436,6957,120357,122669,122482,1758,196144,57794,375282,282163,12584,1.3
19,9개 도,제주,1325030,40077,5877,12937,1038257,25918,123,69585,47954,65251,15157,3894,1.2

In [35]:
sales.columns[1:]

Index(['통계분류(2)', '합계', '출판', '만화', '음악', '게임', '영화', '애니메이션', '방송영상독립제작',
       '광고', '캐릭터', '지식정보', '콘텐츠솔루션', '비중'],
      dtype='object')

In [36]:
sales.shape

(20, 15)

In [ ]:
# 통계분류(2), 출판, 만화, 음악, 영화, 비중만 새로 저장 
# 통계 분류에  전국, 서울추가 
# 컬럼의 합계 추가 => 비중앞에

In [70]:
sales = sales.iloc[:,[1,3,4,5,7,14]]

In [75]:
# sales['통계분류(2)']
# [0] => 삭제 , [1] => 서울 [3]=. 삭제
# 쓸모 없는 비중 => 나중에 백분율로 환산
del_col= sales.loc[[0,2,10],:]

In [ ]:
# 컬럼명 변경 
sales.

In [93]:
# sales.drop?
sales["통계분류(2)"] == '소계'

0      True
1      True
2      True
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10     True
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
Name: 통계분류(2), dtype: bool

In [96]:
# 확인 
sales[ sales["통계분류(2)"] == '소계' ]
# 일단 소계로 작성된 서울을 작성

   통계분류(2)        출판      만화       음악       영화    비중
1       소계  11644169  568621  3754518  3192434  64.1
2       소계   2080759   87070   669040   769321   8.4
10      소계   7030407  426537  1380750  1532915  27.5

In [97]:
del_index = sales[ sales["통계분류(2)"] == '소계' ][1:2]
del_index.통계분류(2)[]

AttributeError: 'DataFrame' object has no attribute '통계분류'

In [ ]:
# sales.drop(index= sales[ sales["통계분류(2)"] == '소계' ])

In [ ]:
sales.drop(index= [0,2,10])

In [78]:
del del_col

In [79]:
sales

   통계분류(2)        출판       만화       음악       영화     비중
0       소계  20755334  1082228  5804307  5494670  100.0
1       소계  11644169   568621  3754518  3192434   64.1
2       소계   2080759    87070   669040   769321    8.4
3       부산    562179    12872   212431   223604    2.5
4       대구    411689    14983   221536   142459    1.7
5       인천    418798    18716   124413   139791    1.4
6       광주    275059    26213    25127    98049    0.9
7       대전    246205    10328    36042    96755    1.2
8       울산    137083     3692    40476    57195    0.5
9       세종     29747      266     9015    11469    0.1
10      소계   7030407   426537  1380750  1532915   27.5
11      경기   5972109   352354   941091   998585   20.9
12      강원     65484    17089    69652    63858    0.5
13      충북     86671     2357    32447    64868    0.8
14      충남    208702     1905    39964    74774    0.8
15      전북    103095    12419    42842    76074    0.6
16      전남     50329     1623    47450    37697    0.4
17      경북    280502    25956    74010    68659    0.9
18      경남    223436     6957   120357   122482    1.3
19      제주     40077     5877    12937    25918    1.2