In [26]:
import pandas as pd 
import numpy as np

In [27]:
# 일단 데이터형태부터 파악한후 작업 진행 
sales_2017 = pd.read_csv('./data/Content_Sales_2017.csv', header=1, encoding='euc-kr')

In [13]:
# sales_2015 = pd.read_csv('./data/Content_Sales_2015.csv', header=1, encoding='euc-kr')
# sales_2013 = pd.read_csv('./data/Content_Sales_2013.csv', header=1, encoding='euc-kr')
# sales_2011 = pd.read_csv('./data/Content_Sales_2011.csv', header=1, encoding='euc-kr')

In [15]:
# sales.columns
# 컬럼명 변경 
col = {sales_2017.columns[8]:'합',

      }
#        sales_2017.columns[1]:'책',
#        sales_2017.columns[2]:'만화책',
#        sales_2017.columns[5]:'백분율'
# 변경
sales_2017.rename(columns= col, inplace= True)

In [32]:
sales_2017.합계.value_counts

<bound method IndexOpsMixin.value_counts of 0     105324417
1      69254119
2       2546150
3       1923517
4       1532889
5        975916
6       1216767
7        535203
8             -
9      20907333
10       563785
11       829813
12       826359
13       612301
14       360228
15       906158
16      1361055
17       972825
Name: 합계, dtype: object>

In [ ]:
name = sales.행정구역.iloc[1:2]
dic={'소계':'서울'}
#  소계 => 서울로
name.replace(dic,inplace=True)

In [25]:
sales_2017['합']= sales_2017['합'].astype(int)
sales_2017['합계']= sales_2017['합계'].astype(int)

ValueError: invalid literal for int() with base 10: '-'

In [33]:
sales_2017.head(10)
# 2016, 2017을 결합해야해 
# 컬럼명 직관적으로 변경해야해

,통계분류(1),통계분류(2),합계,출판,만화,음악,영화,비중,합계.1,출판.1,만화.1,음악.1,영화.1,비중.1
0,합계,소계,105324417,20765878,976257,5308240,5256081,100,113044446,20755334,1082228,5804307,5494670,100.0
1,서울,소계,69254119,11664063,497326,3465543,3295392,65.8,72427557,11644169,568621,3754518,3192434,64.1
2,7개시,부산,2546150,563789,11979,191683,214712,2.4,2861484,562179,12872,212431,223604,2.5
3,7개시,대구,1923517,413994,13810,198291,141103,1.8,1977667,411689,14983,221536,142459,1.7
4,7개시,인천,1532889,418892,17659,114770,123007,1.5,1619777,418798,18716,124413,139791,1.4
5,7개시,광주,975916,275276,25279,22650,82448,0.9,1005745,275059,26213,25127,98049,0.9
6,7개시,대전,1216767,247460,9488,32727,89355,1.2,1410208,246205,10328,36042,96755,1.2
7,7개시,울산,535203,138120,3384,37654,54417,0.5,606924,137083,3692,40476,57195,0.5
8,7개시,세종,-,-,-,-,-,-,70431,29747,266,9015,11469,0.1
9,9개 도,경기,20907333,5982164,328707,845109,725606,19.9,23666399,5972109,352354,941091,998585,20.9

In [7]:
sales_2017.columns

Index(['통계분류(1)', '통계분류(2)', '합계', '출판', '만화', '음악', '영화', '비중', '2016년합',
       '출판.1', '만화.1', '음악.1', '영화.1', '비중.1'],
      dtype='object')

In [24]:
# sales_2017.info
sales_2017.합계 + sales_2017.합

0     105324417113044446
1       6925411972427557
2         25461502861484
3         19235171977667
4         15328891619777
5          9759161005745
6         12167671410208
7           535203606924
8                 -70431
9       2090733323666399
10          563785614434
11          829813870583
12          826359869791
13          612301696450
14          360228487313
15         9061581013029
16        13610551521625
17         9728251325030
dtype: object

In [23]:
# sales_2017.합계.dtype , sales_2017.합.dtype
sales_2017.합계.dtype , sales_2017['합'].dtype

(dtype('O'), dtype('O'))

In [57]:
# sales_2017['2017_출판'] = sales_2017.iloc[:,8:9] +sales_2017.iloc[:,2:3]

In [58]:
# sales_2017['2017_출판']= sales_2017['합계'] + sales_2017['합계.1']
# sales_2017['2017_출판']= sales_2017['합계'] + sales_2017['합계.1']
# a = sales_2017['합계.1'].iloc[:] + sales_2017['합계'].iloc[:]
# sales_2017['합계.1'].iloc[:] + sales_2017['합계'].iloc[:]

In [ ]:
type(sales_2017['합계.1'].iloc[:])

0     113044446
1      72427557
2       2861484
3       1977667
4       1619777
5       1005745
6       1410208
7        606924
8         70431
9      23666399
10       614434
11       870583
12       869791
13       696450
14       487313
15      1013029
16      1521625
17      1325030
Name: 합계.1, dtype: object

In [ ]:
# sales['통계분류(2)'].iloc[1,] = '서울'

In [ ]:
sales.shape

In [ ]:
# 통계분류(2), 출판, 만화, 음악, 영화, 비중만 새로 저장 
# 통계 분류에  전국, 서울추가 
# 컬럼의 합계 추가 => 비중앞에

In [ ]:
sales = sales.iloc[:,[1,3,4,5,7,14]]

In [ ]:
# sales['통계분류(2)']
# [0] => 삭제 , [1] => 서울 [3]=. 삭제
# 쓸모 없는 비중 => 나중에 백분율로 환산
del_col= sales.loc[[0,2,10],:]

In [ ]:
# sales.drop?
# sales.replace?

In [ ]:
sales.행정구역[1]

In [ ]:
name = sales.행정구역.iloc[1:2]
dic={'소계':'서울'}
#  소계 => 서울로
name.replace(dic,inplace=True)

In [ ]:
sales

In [ ]:
# 확인 
sales[ sales.행정구역 == '소계' ]
# 일단 소계로 작성된 서울을 작성

In [ ]:
# sales.drop(index= sales[ sales["통계분류(2)"] == '소계' ])

In [ ]:
sales[ sales.행정구역 == '소계' ].drop

In [ ]:
sales.drop(index)

In [ ]:
del del_col

In [ ]:
sales